NODE_ENV=development
PORT=4000

DATABASE_URL="postgresql://fourever:fourever@localhost:5432/fourever?schema=public"

JWT_ACCESS_SECRET="change-me-to-a-random-32-plus-char-secret"
JWT_REFRESH_SECRET="change-me-to-a-different-random-32-plus-char-secret"
JWT_ACCESS_TTL="15m"
JWT_REFRESH_TTL="30d"

WEB_APP_URL="http://localhost:3000"
